#quote-sol {
    font-size: 14px;
    letter-spacing:1;
    line-height: 25px;
}

#card h3{
    font-weight: 600;
    font-size:20px;
    padding: 8px;
    height: 70px;
}

#card p {
    font-size: 14px;
    padding: 8px;
    text-align: justify;
}