#cont{
    background-color: #ffbe23;

}

h1 {
    font-size: 28px;

}

#quote {
    margin-top: 18px;
    margin-bottom: 18px;
    padding-left: 25px;
    font-size: 14px;
    letter-spacing: 1px;
    transform: translateX(80px);
    text-align: justify;
    
}



@media (max-width:768px) {
  #quote {
    transform: translateX(0px);
    padding-left: 0;
  }  
}